body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #282c34;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin:0
}
.container{
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px black;
    text-align: center;
    width: 300px;
}
h1{
    margin: 0 0 20px;
}

    #turnIndicator{
        margin-bottom: 20px;
        font-size: 1.2em;
    }
    .board{
        display:grid;
        grid-template-columns:repeat(3,1fr);
        gap: 5px;
        margin-bottom: 20px;
    }
    .cell{
        width:100px ;
        height: 100px;
        background-color: #444;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2em;
        cursor: pointer;
        border-radius: 5px;
        transition: background-color 0.3s;
    }
    .cell:hover{
        background-color: #555;
    }
    button{
        padding: 10px 20px;
        border: none;
        background-color: rgb(228, 110, 26);
        color:white;
        border-radius: 5px;
        cursor: pointer;
        font-size: 1em;
    }
    button:hover{
        background-color: rgb(147, 66, 7);
    }
    #result{
        margin-top:20px;
        font-size:1.5em
    }